
@{
    ViewData["Title"] = "remove";
}

<h1>remove</h1>
<form method="get" action="/dept/saveremove">
    <div class="form-group">
        <label for="name">ID</label>
        <input type="text" class="form-control" id="id" name="id" placeholder="Enter ID to remove">
    </div>
   


    <button type="submit" class="btn btn-primary">Submit</button>
</form>

